.section{
  margin: 50px 0px;
}

.button{
  height: 40px;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
  font-size: 15px;
  width: fit-content;
  align-self: center;
}

.button:hover{
  background-color: rgb(179, 179, 133);
  transform: scale(110%);
}

.textarea{
  width: 500px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-number{
  height: 30px;
  margin: 5px;
}

.rsvp{
  border: 1px solid whitesmoke;
  padding: 15px 0;
  border-radius: 10px;
}

li{
  margin: 15px 0px;
  font-size: 20px;
}

.checkin{
  border-radius: 5px;
  height: 30px;
  width: 90px;
  margin-left: 8px;
  cursor: pointer;
}

.checkin:hover{
  filter: brightness(80%);
}

.checkin:disabled{
  border: none;
  background-color: transparent;
  color: greenyellow;
  cursor:default;
}

.checkin:disabled:hover{
  filter: brightness(100%);
}

.space{
  margin: 10px;
  width: 90px;
}